<div class="h5">Parking</div>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>
          User
        </th>
        <th>
          Time
        </th>
        <th>
          Charging
        </th>
        <th>
          Paid
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of parkingData">
        <td>
          {{item.user}}
        </td>
        <td>
          {{item.time}}
        </td>
        <td>
          {{item.isCharging}}
        </td>
        <td>
          {{item.paid}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
